<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11255160-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-11255160-2');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description"
        content="Johnny Boursiquot is a Software Engineer, Cloud Engineer, Site Reliability Engineer (SRE), Community Organizer, Speaker, and Trainer.">
    <meta name="keywords" content="Johnny Boursiquot Software Engineer Cloud Community Organizer Speaker Trainer SRE">
    <meta name="author" content="Johnny Boursiquot">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Johnny Boursiquot | Software Engineer • Educator</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.carousel.css">

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- PRE LOADER -->
    <div class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </div>


    <!-- NAVIGATION SECTION -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- NAVBAR HEADER -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <!-- lOGO TEXT HERE -->
                <a href="index.html" class="navbar-brand">Johnny Boursiquot</a>
            </div>

            <!-- NAVIGATION LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="smoothScroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="smoothScroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="smoothScroll" href="#latest">Latest</a>
                    </li>
                    <li>
                        <a class="smoothScroll" href="https://www.golangjohnny.com" target="_blank">Newsletter</a>
                    </li>
                    <li>
                        <a class="smoothScroll" href="/public/JohnnyBoursiquot.pdf" target="_blank">Resume</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <!-- HOME SECTION -->
    <section id="home" class="parallax-section">
        <!-- OVERLAY -->
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h1>Hi, I'm Johnny.</h1>
                    <h4>
                        <strong>Software Engineer</strong> •
                        <strong>Community Organizer</strong> •
                        <strong>Speaker</strong> •
                        <strong>Trainer</strong>
                    </h4>

                    <!-- SOCIAL ICON -->
                    <ul class="social-icon">
                        <li>
                            <a href="https://twitter.com/jboursiquot" class="fa fa-twitter" target="blank"></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/in/jboursiquot" class="fa fa-linkedin" target="blank"></a>
                        </li>
                        <li>
                            <a href="https://github.com/jboursiquot" class="fa fa-github" target="blank"></a>
                        </li>
                        <li>
                            <a href="https://medium.com/@jboursiquot/latest" class="fa fa-medium" target="blank"></a>
                        </li>
                        <li>
                            <a href="https://changelog.com/person/jboursiquot" class="fa fa-podcast" target="blank"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT SECTION -->
    <section id="about" class="parallax-section">
        <div class="container">
            <div class="row">

                <div class="col-md-5 col-sm-12">
                    <!-- ABOUT IMAGE -->
                    <div class="about-image">
                        <img src="images/boursiquot-johnny-small.jpg" class="img-responsive" alt="about image">
                    </div>
                </div>

                <div class="col-md-7 col-sm-12">
                    <div class="about-thumb">
                        <!-- SECTION TITLE -->
                        <div class="section-title">
                            <h2>A little about me</h2>
                        </div>
                        <p>I’m a multi-disciplined <strong>Software, Reliability, and Cloud Systems Engineer</strong>
                            with over two decades of experience spanning various client, server and cloud infrastructure
                            technologies. I've worked with and been a part of multiple startup founding teams and have
                            worked at large market-leading Fortune 500 technology companies.</p>
                        <p>I've authored technology
                            courses, collaborated on books (co-author, technical reviewer, etc), and provided corporate
                            trainings to large technology companies. These days I work extensively with Go (golang), AWS
                            (ECS, Fargate, Lambda, CloudFormation, etc), Microservice Architectures, and Serverless
                            Architectures. I professionally teach the technologies I use on platforms like LinkedIn Learning, 
                            O'Reilly, Packt, and others. Whenever possible, I also teach programming workshops at no cost 
                            to learners in my local community.
                        </p>
                        <p>Some of the highlights of my professional career so far include:</p>
                        <ul>
                            <li>Architecting a cloud platform for skill inventory, skill gap analysis, and professional
                                development for Information Professionals and Libraries with <a
                                    href="https://www.skilltype.com/">Skilltype</a></li>
                            <li>Establishing Site Reliability Engineering practices and tooling at Salesforce's <a
                                    href="https://www.heroku.com/">Heroku</a></li>
                            <li>Building microservice and serverless applications and tools that leverage the AWS cloud
                                to further the mission of
                                <a href="http://achievementnetwork.org/" target="blank">The Achievement Network</a>
                            </li>
                            <li>Bringing Enterprise-grade time series database and cluster management solutions to
                                market at
                                <a href="http://influxdata.com/" target="blank">InfluxData</a>
                            </li>
                            <li>Leading the development of the backend infrastructure for the popular consumer IoT
                                device,
                                <a href="http://pavlok.com/" target="blank">Pavlok</a>, complete with integration of
                                services like IFTTT
                            </li>
                            <li>Architecting visual merchandising technology at
                                <a href="http://onedoor.com/" target="blank">One Door</a>
                            </li>
                            <li>Educating the next generation of software developers at
                                <a href="http://www.launchacademy.com/" target="blank">Launch Academy</a>
                            </li>
                            <li>Building the Boston-based digital agency,
                                <a href="http://www.maark.com/" target="blank">MAARK</a>
                            </li>
                        </ul>
                        <p>My love for technology is matched only by my passion for community service:</p>
                        <ul>
                            <li>
                                <a href="https://www.gophercon.com" target="blank">GopherCon</a> Program Chair
                            </li>
                            <li>
                                <a href="http://golangbridge.org/" target="blank">GoBridge</a> Leadership Team
                            </li>
                            <li><a href="http://baltimoregolang.org/" target="blank">Baltimore Go User Group</a> Founder
                                &amp; Organizer</li>
                            <li>
                                <a href="http://bostongolang.org/" target="blank">Boston Golang User Group</a> Organizer
                            </li>
                            <li>
                                <a href="http://bostonrb.org/" target="blank">Boston Ruby User Group</a> Organizer
                            </li>
                            <li>
                                <a href="https://www.railsbridgeboston.org/" target="blank">RailsBridge Boston</a>
                                Instructor
                            </li>
                            <li><a href="http://haitischoolproject.org/" target="blank">Haiti School Project</a> Board
                                of Directors</li>
                        </ul>
                        <p>Education & Certifications include:</p>
                        <ul>
                            <li>Master of Science in Cloud Computing Architecture</li>
                            <li>Bachelor of Science in Computer & Information Science</li>
                            <li>AWS Certified Solutions Architect</li>
                            <li>AWS Certified Developer</li>
                            <li>AWS Certified Cloud Practitioner</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- LATEST SECTION -->
    <section id="latest" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>What I've been up to lately</h2>
                    <p>Projects, teaching, and speaking.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-video-camera"></i>
                        <h3>Hands-On Go</h3>
                        <p><img src="images/LIL-HandsOnGo.jpeg" width="302" style="border: 0px solid;"></p>
                        <p><a href="https://97things.incidentlabs.io/" target="_blank">Course</a> available now at <a
                                href="https://www.linkedin.com/learning/hands-on-introduction-go/hands-on-with-go"
                                target="_blank">LinkedIn Learning</a></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-book"></i>
                        <h3>97 Things Every SRE Should Know</h3>
                        <p><img src="images/97-things-every-sre-should-know.jpeg" width="302"
                                style="border: 0px solid;"></p>
                        <p><a href="https://97things.incidentlabs.io/" target="_blank">Contributing author to 97 Things
                                Every SRE Should Know</a> available now at <a
                                href="https://www.amazon.com/Things-Every-SRE-Should-Know/dp/1492081493"
                                target="_blank">Amazon</a></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-microphone"></i>
                        <h3>Go Time</h3>
                        <p><img src="images/gotime.png" width="302" style="border: 1px solid;"></p>
                        <p>Regular panelist on the Go Time podcast.</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-video-camera"></i>
                        <h3>Go Standard Library Solutions</h3>
                        <p><img src="images/GoStdLibSolCover.png"></p>
                        <p>Course available now at <a href="https://bitly.com/gostdsol" target="blank">Packt</a>.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-video-camera"></i>
                        <h3>SRE as a Diplomat on InfoQ</h3>
                        <p><img src="images/infoq-logo.png" width="302" style="border: 1px solid;"></p>
                        <p><a href="https://www.infoq.com/presentations/sre-build-trust/" target="blank">Presentation
                                and transcript</a> of QCon Keynote</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-video-camera"></i>
                        <h3>Go & Serverless @ O'Reilly</h3>
                        <p><img src="images/oreilly-serverless-go.jpeg" width="302"></p>
                        <p>Multiple Go and serverless orchestration trainings on O'Reilly's learning platform</p>
                    </div>
                </div>

                <!-- <div class="col-md-4 col-sm-6">
                    <div class="latest-thumb">
                        <i class="fa fa-microphone"></i>
                        <h3>InfoQ Podcast Guest</h3>
                        <p><img src="images/infoq-podcast.jpg" height="320"></p>
                        <p><a href="https://www.infoq.com/podcasts/serverless-go-site-reliability-engineering/"
                                target="_blank">Serverless Go and Site Reliability Engineering at Heroku</a></p>
                    </div>
                </div> -->
            </div>

            <div class="row" style="text-align: center;">
                <h3>...</h3>
            </div>

            <div class="row">
                <div class="section-title">
                    <h2>Archive of talks, trainings, and other engagements</p>
                </div>
            </div>

            <div class="row">
                <div>
                    <ol style="text-align: left;">
                        <li>December 2024 - Guest on the Ardan Labs Podcast: <a href="https://www.youtube.com/watch?v=B8_ff39tGD8" target="_blank">Startups, Resilience, and Passion with Johnny Boursiquot</a></li>
                        <li>December 2024 - Go Time Podcast Finale: <a href="https://changelog.com/gotime/340" target="_blank">That's Go Time</a></li>
                        <li>December 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/339" target="_blank">Pitching Go in 2025</a></li>
                        <li>November 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/337" target="_blank">Crawl, walk & run your way to usable CLIs in Go</a></li>
                        <li>October 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/336" target="_blank">Writing a shell in Go</a></li>
                        <li>October 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/335" target="_blank">AI for Observability</a></li>
                        <li>October 2024 - Changelog & Friends Podcast: <a href="https://changelog.com/friends/65" target="_blank">The indispensable cog</a></li>
                        <li>September 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/332" target="_blank">"Founder Mode" at work when you're not a founder</a></li>
                        <li>September 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/331" target="_blank">How I lost my (old) job to AI</a></li>
                        <li>September 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/330" target="_blank">Home automation with Go</a></li>
                        <li>July 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/328" target="_blank">OpenAPI & API design</a></li>
                        <li>July 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/325" target="_blank">What's New in Go 1.23</a></li>
                        <li>July 2024 - Emcee @ GopherCon US (Chicago)</li>
                        <li>July 2024 - Go Instructor @ GopherCon US (Chicago): Go for Experienced Programmers</li>
                        <li>June 2024 - Go Instructor @ GopherCon EU (Berlin): Go for Experienced Programmers</li>
                        <li>May 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/315" target="_blank">What if Google lays off the Go team?</a></li>
                        <li>May 2024 - Speaker @ Stuttgart, Germany Go Users Group<a href="https://www.meetup.com/stuttgart-gophers/events/300674376">Robust HTTP Servers and Clients in Go</a></li>
                        <li>April 2024 - Live Training @ O'Reilly. <a href="https://www.oreilly.com/live-events/go-in-3-weeks/0636920060986/0636920060985/" target="_blank">Go in 3 Weeks</a></li>
                        <li>March 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/307" target="_blank">Questions from a new Go developer</a></li>
                        <li>March 2024 - Go Time Podcast: <a href="https://changelog.com/gotime/307" target="_blank">Jumping into an existing codebase</a></li>
                        <li>January 2023 - Live Training @ O'Reilly. <a
                                href="https://www.oreilly.com/live-events/go-generics-in-2-hours/0636920072269"
                                target="_blank">Go Generics in 2 Hours.</a></li>
                        <li>November 2022 - Created and released "Hands-On Go" course at <a
                                href="https://www.linkedin.com/learning/hands-on-introduction-go/hands-on-with-go"
                                target="_blank">LinkedIn Learning</a></li>
                        <li>October 2022 - Trained 25-student cohort in Go backend development for 7 weeks at <a
                                href="https://pivottechschool.com" target="_blank">Pivot Technology School</a></li>
                        <li>September 2022 - Live Training @ O'Reilly. <a
                                href="https://www.oreilly.com/live-events/go-generics-in-2-hours/0636920072269"
                                target="_blank">Go Generics in 2 Hours.</a></li>
                        <li>August 2022 - Live Training @ O'Reilly. <a
                                href="https://learning.oreilly.com/live-events/go-in-3-weeks/0636920060986/0636920062624/"
                                target="_blank">Go in 3 Weeks @ O'Reilly Media.</a></li>
                        <li>July 2022 - Live Training @ O'Reilly. <a
                                href="https://www.oreilly.com/live-events/go-generics-in-2-hours/0636920072269"
                                target="_blank">Go Generics in 2 Hours.</a></li>
                        <li>April 2022 - Live Training @ O'Reilly. <a
                                href="https://learning.oreilly.com/live-events/go-in-3-weeks/0636920060986/0636920062624/"
                                target="_blank">Go in 3 Weeks @ O'Reilly Media.</a></li>
                        <li>January 2022 - Live Training @ O'Reilly. <a
                                href="https://learning.oreilly.com/live-events/go-in-3-weeks/0636920060986/0636920062624/"
                                target="_blank">Go in 3 Weeks @ O'Reilly Media.</a></li>
                        <li>January 2022 - Guest speaker, Association for Computing Machinery. <a
                                href="https://learning.acm.org/techtalks/concurrencygo"
                                target="_blank">The Art of Concurrency in Go</a>.</li>
                        <li>January 2022 - Guest on PodRocket. <a
                            href="https://www.youtube.com/watch?v=lNI7NTKNJPM&ab_channel=LogRocket"
                            target="_blank">Getting Started with Golang</a>.</li>
                        <li>December 2021 - Closing Keynote Speaker @ GopherCon 2021.<a
                                href="https://www.youtube.com/watch?v=PAUjYyBfELk&ab_channel=GopherAcademy"
                                target="_blank">Unbounded Concurrency in Go (live with Aaron Schlesinger)</a></li>
                        <li>June 2021 - Speaker at <a href="https://craft-conf.com/speaker/JohnnyBoursiquot"
                                target="_blank">Craft Conference</a>. Extended version of "Unbounded Concurrency" talk.
                        </li>
                        <li>May 2021 - Trainer at <a href="https://gophercon.eu/" target="_blank">GopherCon EU</a>.
                            Practical Go Workshop.</li>
                        <li>April 2021 - Speaker at <a
                                href="https://www.oreilly.com/attend/open-source-software-superstream-series-gogenerics-extensibility-and-the-future-of-go-in-open-source-programming/0636920053215/0636920053214/"
                                target="_blank">Open Source Software Superstream Series: Go—Generics, Extensibility, and
                                the Future of Go in Open Source Programming</a></li>
                        <li>March 2021 - Speaker at <a href="https://www.meetup.com/golanguagenewyork/events/276460855/"
                                target="_blank">Golang NYC</a>. Delivered <a
                                href="https://www.youtube.com/watch?v=HDDNYA9MeNQ&t=1862s&ab_channel=GolangNYCMeetup"
                                target="_blank">"Unbounded Concurrency"</a></li>
                        <li>January 2021 - Speaker at <a href="https://www.meetup.com/GolangNigeria/events/274776873/"
                                target="_blank">Lagos Gophers</a>. Delivered "Let's build a port scanner with Go."</li>
                        <li>November 2020 - <a href="https://plus.qconferences.com/plus2020/speakers/johnny-boursiquot"
                                target="_blank">Keynote Speaker @ QCon.</a> <a
                                href="https://www.youtube.com/watch?v=iB8yybpdEwY" target="_blank">The SRE as a
                                Diplomat</a></li>
                        <li>September 2020 - Speaker at National Information Standards Organization (NISO) event where I
                            delivered a talk on <a
                                href="https://niso.org/niso-io/2020/09/privacy-and-effective-search-experience-johnny-boursiquot"
                                target="_blank">privacy and search technology</a>.</li>
                        <li>June 2020 - InfoQ Podcast Guest - <a
                                href="https://www.infoq.com/podcasts/serverless-go-site-reliability-engineering/"
                                target="_blank">Serverless Go and Site Reliability Engineering at Heroku</a></li>
                        <li>May 2020 - Speaker @ GoGetCommunity 2020. <a href="https://www.gogetcommunity.com/">Closing
                                keynote at Go Get Community.</a></li>
                        <li>May 2020 - Live Training @ O'Reilly. <a
                                href="https://learning.oreilly.com/live-training/courses/go-next-steps/0636920386711/"
                                target="_blank">Go Next Steps @ O'Reilly Media. .</a></li>
                        <li>May 2020 - Live Training @ O'Reilly. <a
                                href="https://learning.oreilly.com/live-training/courses/serverless-go/0636920407034/"
                                target="_blank">Serverless Go @ O'Reilly Media. </a></li>
                        <li>2020 - GopherCon 2020 Program Committe</li>
                        <li>July 2019 - Speaker @ GopherCon 2019. <a
                                href="https://www.youtube.com/watch?v=_Pc0bzz4-gM">Closing Keynote</a>.</li>
                        <li>July 2019 - Trainer @ GopherCon 2019</li>
                        <li>2019 - GopherCon 2019 Program Committe</li>
                        <li>January 2019 - Speaker @ Columbia AWS. Serverless Lens on AWS Well Architected Framework.
                        </li>
                        <li>October 2018 - Speaker @ Columbia AWS. Serverless Orchestration on AWS.</li>
                        <li>October 2018 - Speaker @ Baltimore Innovaton Week's Developer Conference. Delivered a talk
                            on Go, FaaS/Serverless Orchestration.</li>
                        <li>August 2018 - Speaker @ GopherCon 2018 (Lightning Talks). Delivered a lightning talk on Go,
                            FaaS/Serverless on AWS </li>
                        <li>August 2018 - Go Workshop Trainer @ GopherCon 2018. Full day Go training at <a
                                href="https://www.gophercon.com/">GopherCon 2018</a></li>
                        <li>October 2017 - Speaker @ DevFest MD 2017 Conference. Delivered a workshop on getting started
                            with the Go programming language.</li>
                        <li>September 2017 - Speaker @ Code(Her) Conference 2017. Delivered a 2-hour workshop on
                            building Serverless Slack Bots with AWS Lambda at <a
                                href="http://codeherconference.com/">Coder(Her) Conference</a></li>
                        <li>June 2017 - Co-host of <a href="https://changelog.com/gotime/49" target="blank">Go Time 49:
                                Adventures in VS Code.</a></li>
                        <li>May 2017 - Speaker @ Baltimore Go User Group. Delivered "Popular Go Libraries" talk at the
                            Baltimore Go User Group.</li>
                        <li>April 2017 - Speaker @ Capitol Go Language Conference 2017. Delivered <a
                                href="http://bit.ly/capgominethedebt" target="blank">"Mine the Debt"</a> at the
                            inaugural Capital Go Language Conference.</li>
                        <li>March 2017 - Guest on the <a
                                href="https://justuseapen.com/johnny-boursiquot-on-building-a-software-agency-from-scratch-learning-go-for-rubyists-and-server-less-software-architectures/"
                                target="blank">Hacker Practice Podcast</a></li>
                        <li>March 2017 - Co-host of <a href="https://changelog.com/gotime/38" target="blank">Go Time 38:
                                Go Developer Survey with Steve Francia.</a></li>
                        <li>February 2017 - Featured as a Go Expert to Follow on <a
                                href="https://blog.newrelic.com/2017/02/16/golang-experts-follow-online/"
                                target="blank">New Relic blog</a>.</li>
                        <li>February 2017 - Speaker @ Google Developer Group Baltimore. Delivered "Go, Quickly", a talk
                            on how to get started programming in Go.</li>
                        <li>February 2017 - Speaker @ Baltimore Go User Group. Delivered <a
                                href="https://github.com/jboursiquot/go-database-workshop" target="blank">"Interacting
                                with Databases"</a> workshop at the Baltimore Go User Group.</li>
                        <li>January 2017 - Guest on the <a href="https://changelog.com/gotime/30" target="blank">Go Time
                                30: Discussing Imposter Syndrome along with William Kennedy.</a></li>
                        <li>January 2017 - Speaker @ Baltimore Go User Group. Delivered <a
                                href="https://github.com/jboursiquot/go-web-app-workshop" target="blank">"Building Web
                                Applications in Go"</a> workshop at the Baltimore Go User Group.</li>
                        <li>December 2016 - Speaker @ Baltimore Go User Group. Delivered "Building Chat Bots in Golang"
                            workshop at the Baltimore Go User Group.</li>
                        <li>November 2016 - Speaker @ Baltimore Go User Group. Delivered <a
                                href="https://github.com/jboursiquot/go-cli-workshop" target="blank">"Building Command
                                Line Applications with Go"</a> workshop at the Baltimore Go User Group.</li>
                        <li>May 2016 - Organizer/Teacher @ GoBridge Boston Workshop. Organized and taught the first
                            GoBridge Boston workshop thanks in large part to the awesome gophers in the Boston area and
                            the support of Pivotal Labs.</li>
                        <li>September 2015 - Featured on <a
                                href="https://blog.codeship.com/a-look-inside-with-codeship-johnny-boursiquot-of-rbm-technologies/"
                                target="blank">"An Inside Look with Codeship"</a>, a regular series providing an
                            insider’s perspective on founding and building a tech company. <a
                                href="https://youtu.be/j8Lp7W48xDE" target="blank">Available on YouTube</a> as well.
                        </li>
                        <li>September 2015 - Speaker @ Code(Her) Conference 2015. Delivered two workshops: "Programming
                            Fundamentals" and "Building APIs for Web and Mobile Apps"</li>
                        <li>January 2015 - <a title="Intro to Ruby for the Non Programmer" href="http://bit.ly/14Rr7Qv"
                                target="_blank" rel="noopener noreferrer">Intro to Ruby for the Non Programmer</a> talk
                            given at the <a title="RailsBridge Boston" href="http://www.railsbridgeboston.org/"
                                target="_blank" rel="noopener noreferrer">RailsBridge Workshop in Boston, MA</a> .
                            RailsBridge is an organization that aims to bring diversity into the tech community by
                            empowering women from various backgrounds with skills in Ruby and Rails development. Check
                            out their <a title="RailsBridge Boston Video Teaser" href="https://vimeo.com/70699061"
                                target="_blank" rel="noopener noreferrer">trailer on Vimeo</a>.</li>
                        <li>September 2014 - <a title="Code[Her] Conference" href="http://codeherconference.com/"
                                target="_blank" rel="noopener noreferrer">Building APIs for Web and Mobile Apps</a> at
                            <a href="http://codeherconference.com/">Code(Her)Conference</a>, a 2+ hour-long workshop to
                            conference attendees on how to build REST APIs. It was well received and I was invited back
                            as a speaker the following year.
                        </li>
                        <li>August 2014 - <a title="Panel: The Future of Ruby"
                                href="https://vimeo.com/album/2996485/video/103590400" target="_blank"
                                rel="noopener noreferrer">Panel Guest on The Future of Ruby</a> at the Burlington Ruby
                            Conference where I, along with Sandi Metz and Ernie Miller, discussed the future of the Ruby
                            programming language and its community.</li>
                        <li>February 2014 - <a title="Object Oriented Programming in Golang"
                                href="https://speakerdeck.com/jboursiquot/object-oriented-programming-in-go"
                                target="_blank" rel="noopener noreferrer">Object Oriented Programming in Golang</a> talk
                            given at BostonGolang (<a title="BostonGolang" href="http://bostongolang.org"
                                target="_blank" rel="noopener noreferrer">bostongolang.org</a>) to an audience of
                            programmers looking to transition to Go from other OO languages.</li>
                        <li>June 2013 - <a title="Building Command Line Tools" href="http://bit.ly/19htW1C"
                                target="_blank" rel="noopener noreferrer">Building Command Line Tools</a> talk given to
                            the first cohort of <a title="Launch Academy" href="http://www.launchacademy.com/"
                                target="_blank" rel="noopener noreferrer">Launch Academy</a> in Boston, MA, who at that
                            time had gone through several weeks of training and hands-on experience with web application
                            development since my last visit. This talk was meant to present an alternative approach to
                            tackling problems that do not necessarily need to be solved using the traditional web stack.
                        </li>
                        <li>May 2013 - <a title="The New Engineer's Survival Guide" href="http://bit.ly/17TvF9l"
                                target="_blank" rel="noopener noreferrer">The New Engineer's Survival Guide</a> to the
                            first cohort of <a title="Launch Academy" href="http://www.launchacademy.com/"
                                target="_blank" rel="noopener noreferrer">Launch Academy</a> in Boston, MA. It was meant
                            to serve as a precursor of things to come in your engineering career and be encouraging as
                            well.</li>
                        <li>May 2013 - <a title="Getting Closure: Ruby Blocks, Procs and Lambdas"
                                href="http://bit.ly/12Ly7LJ" target="_blank" rel="noopener noreferrer">Getting Closure:
                                Ruby Blocks, Procs and Lambdas</a> talk given at <a title="BostonRB"
                                href="http://bostonrb.org/presentations/getting-closure" target="_blank"
                                rel="noopener noreferrer">BostonRB</a>. An introduction to an aspect of Ruby that is not
                            talked about very often but that represents one of the distinctive features of the language.
                        </li>
                        <li>January 2013 - <a title="Defensive Programming in Ruby" href="http://bit.ly/13WI4Zu"
                                target="_blank" rel="noopener noreferrer">Defensive Programming in Ruby</a>: Given as a
                            workshop at BostonRB's Project Night. Introduced new Rubyists to concepts surrounding
                            writing fault-tolerant Ruby.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <p>Copyright © 2021 Johnny Boursiquot
                    <p>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>
